body {
  .container {
    .wrapper {
      height: 100%;
      margin: 0;
      main {
        display: block;
        height: 100%;
        padding: 1em;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: $color-secondary-2-0;
        }
      }
    }
  }
}
