body {
  .container {
    header {
      .header-menu {
        flex-grow: 1;
        nav {
          color: $color-secondary-1-4;
          padding: 0.8em;
          a.burger-menu-button {
            position: absolute;
            z-index: 2;
            top: 16px;
          }
          ul.menu {
            padding: 0.8em;
            list-style: none;
            li {
              margin: 0 1em;
              a {
                color: $color-secondary-2-0;
                text-decoration: none;
              }
            }
            li:hover {
              a {
                color: $color-secondary-2-1;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1224px) {
  body {
    .container {
      header {
        .header-menu {
          flex-grow: 1;
          nav {
            a.burger-menu-button {
              display: none;
            }
            ul.menu {
              li {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1223px) {
  body {
    .container {
      header {
        .header-menu {
          flex-grow: 1;
          nav {
            ul.menu {
              display: none;
            }
            ul.mobile-menu {
              margin: 0;
              background-color: $color-secondary-1-0;
              list-style: none;
              position: absolute;
              top: 0;
              left: calc(100% - 118px);
              padding: 32px 24px 32px 4px;
              width: 90px;
              height: 100%;
              z-index: 1;
              animation: 2s slidein;
              li {
                margin: 0.5em 1em;
                a {
                  color: $color-secondary-2-0;
                  text-decoration: none;
                }
              }
              li:hover {
                a {
                  color: $color-secondary-2-1;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}

